<h2>
  Bookmark Lists
</h2>

<div class="ui three column centered grid cards">
  {{#each bookmarks}}
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          {{title}}
        </div>
        <div class="meatadata">
          <i class="icon bookmark"></i> {{links.length}}
        </div>
      </div>
      <div class="extra content">
        <div class="two button">
          <a class="ui teal button" href="/bookmarks/{{id}}" title="{{title}}"><i class="icon folder open"></i> View List</a>
          <a class="ui red  button" href="/dashboard/deletebookmarklist/{{id}}" title="Delete {{title}}"><i class="icon trash"></i> Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>