  <h2 class="ui sub header">
    Bookmark List
  </h2>
  <table class="ui table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookmarks.links}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          <a href="{{link}}" target="_blank">{{link}}</a>
        </td>
        <td>
          <a href="/bookmarks/{{../bookmarks.id}}/deletelink/{{id}}" class="ui tiny red button"><i class="trash alternate icon"></i> Delete Link</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>