<h2 class="ui header">
  User Statistics - {{fullname}}
</h2>
<div class="ui five tiny statistics center aligned grid">
  <div class="ui statistic red">
    <div class="value">
      {{statUserTotalLists}}
    </div>
    <div class="label">
      Bookmark Lists
    </div>
  </div>

  <div class="ui statistic green">
    <div class="value">
      {{statUserTotalLinks}}
    </div>
    <div class="label">
      Bookmarks
    </div>
  </div>

  <div class="ui statistic blue">
    <div class="value">
      {{statUserAvgLinks}}
    </div>
    <div class="label">
      Average Number of Bookmarks per List
    </div>
  </div>

  <div class="ui statistic orange">
    <div class="value">
      {{statUserListMost}}
    </div>
    <div class="label">
      List With the Most Bookmarks
    </div>
  </div>

  <div class="ui statistic yellow">
    <div class="value">
      {{statUserListLeast}}
    </div>
    <div class="label">
      List With the Least Bookmarks
    </div>
  </div>
</div>